<br />
<div>Login</div>
<br />
<div class="Container">
    <!-- Reactive Form -->
    <form [formGroup]="user.userValidator">
        <div>
            UserName:<b class="color-red">*</b> <input type="text" [(ngModel)]="user.UserName" formControlName="UserName">
            <span style="color:red" *ngIf="user.IsDirty('UserName')" [hidden]="user.IsValidCheck('UserName','required')"> UserName is required</span>
        </div>
        <br>
        <div>
            Password:<b class="color-red">*</b> <input type="password" [(ngModel)]="user.Password" formControlName="Password">
            <span style="color:red" *ngIf="user.IsDirty('Password')" [hidden]="user.IsValidCheck('Password','required')"> Password is required</span>
        </div>
        <br>
        <input type="button" class="btn btn-primary" value="Submit" (click)="PostLoginForm()">
    </form>
</div>